body{background-color: lightskyblue; color:black; font-family: Arial, Helvetica, sans-serif;}
h1{text-align: center;}
h2{text-decoration: underline; color: navy; text-align: center;}
h3{color: maroon; font-family:'Courier New', Courier, monospace ;}
