body {
      background-color: whitesmoke; 
      font-family:'Times New Roman', Times, serif;
      color: lightskyblue; 
      margin: 0;
      padding: 0;
    }

    .header {
      background-color: teal;
      color: white;
      padding: 20px;
      text-align: center;
    
    }

    .content {
      padding: 50px;
    }

    .section {
      background-color: white;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 8px;
    }

    .footer {
      background-color: darkcyan;
      color: white;
      text-align: center;
      padding: 15px;
    }

    a {
      color: lightgoldenrodyellow;
    }

    img {
      width: 500px;
      border-radius: 8px;
    }

