body{background-color:black;
color:rgb(99, 180, 227)
}

#darkblue{color: darkblue
}
.font{
    font-family: 'Times New Roman', Times, serif;
}
.common{background-color: aliceblue;
border: 2px solid white;
position: absolute;
border: 2px solid darkblue;
}

.left{
    top: 115px;
    left: 15px;
    width: 100px;
    bottom: 40px;
}

.right{
    top: 115px;
    right: 25px;
    width: 100px;
    height: 100px;
}

.footer{
    bottom: 5px;
    height: 25px;
    left: 15px;
    right: 25px;
}

.header{
    z-index: 10;
    position: fixed;
}